name: Pipeline Backend Ejemplo

on:
  push:
    branches-ignore:
      - main
      - qa
  pull_request:
    branches:
      - main

jobs:
  # ----------------------------------------------------
  # PASO 1: Análisis de Código (Codacy)
  # ----------------------------------------------------
  analisis_seguridad:
    permissions:
      contents: read
      security-events: write
    name: Revisión Codacy
    uses: kuroroluzbell/.github/.github/workflows/codacy-analysis.yml@main
    secrets:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  # ----------------------------------------------------
  # PASO 2: Revisión de Versión (Solo en Pull Requests)
  # ----------------------------------------------------
  verificar_version:
    name: Control de Versiones
    # Condición: Solo ejecutar esto si el trigger fue un Pull Request
    if: github.event_name == 'pull_request'
    # Esta acción depende de que Codacy haya terminado (y pasado)
    needs: [analisis_seguridad]
    uses: kuroroluzbell/.github/.github/workflows/version-check.yml@main
    with:
      version_file: "pom.xml"
    secrets:
      GITHUB_TOKEN_CUSTOM: ${{ secrets.GITHUB_TOKEN }}

  # ----------------------------------------------------
  # PASO 3: validar coberturas
  # ----------------------------------------------------
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Run Tests (Jest)
        run: npm run test -- --coverage

  cobertura_codacy:
    needs: [build_and_test]
    uses: kuroroluzbell/.github/.github/workflows/codacy-coverage.yml@main
    with:
      coverage_report_path: "coverage/lcov.info"
