name: Pipeline Backend Ejemplo

on:
  push:
    branches-ignore:
      - main
      - qa
  pull_request:
    branches:
      - main

jobs:
  # ----------------------------------------------------
  # PASO 1: Análisis de Código (Codacy)
  # ---------------------------------- ------------------
  #analisis_seguridad:
  #  permissions:
  #    contents: read
  #    security-events: write
  #  name: Revisión Codacy
  #  uses: kuroroluzbell/.github/.github/workflows/codacy-analysis.yml@main
  #  secrets:
  #    CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  # ----------------------------------------------------
  # PASO 2: Revisión de Versión (Solo en Pull dRequests)
  # ----------------------------------------------------
  verificar_version:
    name: Control de Versiones
    # Condición: Solo ejecutar esto si el trigger fue un Pull Request
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    # Esta acciónn depende de que Codacy haya terminado (y pasado)
    uses: kuroroluzbell/.github/.github/workflows/version-check-new.yml@main
    with:
      version_file: "package.json"
    secrets:
      GITHUB_TOKEN_CUSTOM: ${{ secrets.GITHUB_TOKEN }}

  # ----------------------------------------------------
  # PASO 3: Run Tests + Upload Coverages to Codacy
  # ----------------------------------------------------
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Run Tests (Jest)
        run: npm run test -- --coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/lcov.info
          retention-days: 1

  cobertura:
    needs: [build_and_test]
    uses: kuroroluzbell/.github/.github/workflows/codacy-coverage.yml@main
    with:
      coverage_report_path: "coverage/lcov.info"
    secrets:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
