name: Build and Deploy to GCP (DEV)

on:
  push:
    branches:
      - develop

jobs:
  build_and_deploy:
    uses: ./.github/workflows/gcp-build-deploy.yml
    with:
      image_name: "mi-app-next-dev"
      dockerfile_path: "./Dockerfile"
      artifact_registry_region: "us-central1"
      artifact_registry_repository: "app-frontend-react-repo"
      cloudrun_service: "dev-deploy"
      cloudrun_region: "us-central1"
    secrets:
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID_DEV }}
      gcp_workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_DEV }}
      gcp_service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_DEV }}
  