name: Build and Deploy to GCP (PROD)

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    uses: fvalenzuela-dev/.github/.github/workflows/gcp-build-deploy.yml@main
    with:
      image_name: "mi-app-next-prod" # nombre de la imagen que se va a generar
      dockerfile_path: "./Dockerfile" # ruta al Dockerfile en el repositorio
      artifact_registry_region: ${{ secrets.GCP_ARTIFACT_REGISTRY_REGION }} # región donde se encuentra el Artifact Registry
      artifact_registry_repository: ${{ secrets.GCP_FOLDER_ARTIFACT_REGISTRY }} #carpeta contenedora en artifact registry
      cloudrun_service: "dev-deploy" # nombre del servicio en Cloud Run
      cloudrun_region: ${{ secrets.GCP_CLOUD_RUN_REGION }} # región donde se va a desplegar el servicio
    secrets:
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID_PROD }}
      gcp_workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_PROD }}
      gcp_service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_PROD }}
