name: Build and Deploy to GCP (DEV)

on:
  push:
    branches:
      - develop

jobs:
  build_and_deploy:
    uses: fvalenzuela-dev/.github/workflows/gcp-build-deploy.yml@main
    with:
      image_name: "mi-app-next"
      dockerfile_path: "./Dockerfile"
      artifact_registry_region: "us-central1"
      artifact_registry_repository: "nextjs-apps"
      cloudrun_service: "dev-deploy"
      cloudrun_region: "us-central1"
    secrets:
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
      gcp_workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      gcp_service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
